<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allows administrative visibility to check for installed SoftPOS terminals -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!-- NFC Permission and feature configuration -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <!-- USB Permission and feature configuration -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />

    <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <queries>
        <!-- Standard regional RaiPOS and tapXphone packages -->
        <package android:name="hr.rba.raipos" />
        <package android:name="hr.rba.raipos.sandbox" />
        <package android:name="by.iba.tapxphone" />
        <package android:name="com.raiffeisen.pos" />
        
        <!-- Standard intent payment handlers -->
        <intent>
            <action android:name="hr.rba.raipos.PAYMENT" />
        </intent>
        <intent>
            <action android:name="by.iba.tapxphone.ACTION_PAYMENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" android:resource="@xml/usb_accessory_filter" />
            
            <!-- Custom action intent filter for app-to-app payment routing -->
            <intent-filter>
                <action android:name="com.braipay.action.PAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Samsung Galaxy Watch / Wear OS NFC Tag Intent Filter (application/vnd.shealth.le.oob) -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.shealth.le.oob" />
            </intent-filter>

            <!-- Standard NFC Tag Discovery Intent Filters -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Custom deep-link URI (braipay://pay?amount=25.00&productName=Widget) -->
            <intent-filter android:label="BraiPay Quick Checkout">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="braipay"
                    android:host="pay" />
            </intent-filter>
        </activity>
    </application>

</manifest>
